<div class="container">
    <div class="directions">
        <span routerLink="/home" class="previous">home</span>
        <span class="current">contact</span>
    </div>
    <div class="row g-4 align-items-center py-5">
        <div class="col-md-3">
            <div class="d-flex contact-details flex-column gap-4 shadow p-3 rounded-2">
                <div class="pb-3 border-bottom border-black">
                    <ul class="list-unstyled contact-list d-flex flex-column gap-3">
                        <li class="d-flex align-items-center gap-3">
                            <i class="fa-solid fa-phone"></i>
                            <span>call to us</span>
                        </li>
                        <li>
                            <p>We are available 24/7, 7 days a week.</p>
                        </li>
                        <li>
                            <p>Phone: +8801611112222</p>
                        </li>
                    </ul>
                </div>
                <div class="pb-3">
                    <ul class="list-unstyled contact-list d-flex flex-column gap-3">
                        <li class="d-flex align-items-center gap-3">
                            <i class="fa-solid fa-phone"></i>
                            <span>Write to us</span>
                        </li>
                        <li>
                            <p>Fill out our form and we will contact you within 24 hours.</p>
                        </li>
                        <li>
                            <p>Emails: customer&#64;exclusive.com</p>
                        </li>
                        <li>
                            <p>Emails: support&#64;exclusive.com</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="contact-inputs shadow p-3 py-4 rounded-2">
                <div class="d-flex justify-content-between top-inputs align-items-center">
                    <input required type="text" placeholder="Your Name">
                    <input required type="email" placeholder="Your Email">
                    <input required type="text" placeholder="Your Phone">
                </div>
                <textarea  rows="8" class="my-4" placeholder="Your Message"></textarea>
                <div>
                    <button class="main-btn d-block ms-auto" type="button">Send Message</button>
                </div>
            </div>
        </div>
    </div>
</div>
