<section class="container">
    <div class="directions">
        <span routerLink="/home" class="previous">home</span>
        <span class="current">about</span>
    </div>
    <div class="row align-items-center py-5">
        <div class="col-md-6">
            <div class="story">
                <h1 class="mb-5">Our Story</h1>
                <p>Launced in 2015, Exclusive is South Asia’s premier online shopping makterplace with an active presense in Bangladesh. Supported by wide range of tailored marketing, data and service solutions, Exclusive has 10,500 sallers and 300 brands and serves 3 millioons customers across the region. </p>
                <p>Exclusive has more than 1 Million products to offer, growing at a very fast. Exclusive offers a diverse assotment in categories ranging  from consumer.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <img src="./assets/images/about.png" class="w-100 story-image" alt="">
            </div>
        </div>
    </div>
    <div class="row py-5 g-4">
        <div class="col-md-3">
            <div class="about-card py-4 border">
                <i class="fa-solid mb-2 fa-archway"></i>
                <div class="mt-4 text-center">
                    <h2>10.5K</h2>
                    <p class="mt-2">Sallers active our site</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="about-card py-4 border">
                <i class="fa-solid mb-2 fa-circle-dollar-to-slot"></i>
                <div class="mt-4 text-center">
                    <h2>33K</h2>
                    <p class="mt-2">Mopnthly Produduct Sale</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="about-card py-4 border">
                <i class="fa-solid mb-2 fa-table-columns"></i>
                <div class="mt-4 text-center">
                    <h2>45.5K</h2>
                    <p class="mt-2">Customer active in our site</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="about-card py-4 border">
                <i class="fa-solid mb-2 fa-sack-dollar"></i>
                <div class="mt-4 text-center">
                    <h2>25K</h2>
                    <p class="mt-2">Anual gross sale in our site</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-5 g-4">
        <div class="col-md-4">
            <div class="person-card">
                <div class="head pb-0">
                    <img src="./assets/images/about1.png" class="w-100" alt="">
                </div>
                <div class="py-3">
                    <div class="body mb-4">
                        <h2 class="m-0">Tom Cruise</h2>
                        <p >Founder & chariman</p>
                    </div>
                    <div class="footer">
                        <i class="fa-brands fa-xl fa-twitter" aria-hidden="true"></i>
                        <i class="fa-brands fa-xl fa-instagram" aria-hidden="true"></i>
                        <i class="fa-brands fa-xl fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="person-card">
                <div class="head pb-0">
                    <img src="./assets/images/about2.png" class="w-100" alt="">
                </div>
                <div class="py-3">
                    <div class="body mb-4">
                        <h2 class="m-0">Emma Watson</h2>
                        <p >Managing Director</p>
                    </div>
                    <div class="footer">
                        <i class="fa-brands fa-xl fa-twitter" aria-hidden="true"></i>
                        <i class="fa-brands fa-xl fa-instagram" aria-hidden="true"></i>
                        <i class="fa-brands fa-xl fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="person-card">
                <div class="head pb-0">
                    <img src="./assets/images/about3.png" class="w-100" alt="">
                </div>
                <div class="py-3">
                    <div class="body mb-4">
                        <h2 class="m-0">Wil Smith</h2>
                        <p >Product Designer</p>
                    </div>
                    <div class="footer">
                        <i class="fa-brands fa-xl fa-twitter" aria-hidden="true"></i>
                        <i class="fa-brands fa-xl fa-instagram" aria-hidden="true"></i>
                        <i class="fa-brands fa-xl fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-4 py-5">
        <div class="col-md-4">
            <div class="service-card pb-3 pt-4 ">
                <i class="fa-solid fa-truck-moving "></i>
                <div class="mt-4 text-center">
                    <h2>FREE AND FAST DELIVERY</h2>
                    <p class="mt-2">Free delivery for all orders over $140</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-card pb-3 pt-4 ">
                <i class="fa-solid fa-headset"></i>
                <div class="mt-4 text-center">
                    <h2>24/7 CUSTOMER SERVICE</h2>
                    <p class="mt-2">Friendly 24/7 customer support</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-card pb-3 pt-4 ">
                <i class="fa-solid fa-medal"></i>
                <div class="mt-4 text-center">
                    <h2>MONEY BACK GUARANTEE</h2>
                    <p class="mt-2">We reurn money within 30 days</p>
                </div>
            </div>
        </div>
    </div>
</section>