<section class="container-fluid main">
    <div class="container">
        <div class="row justify-content-start g-4 py-5">
            <div class="col-lg-5 ">
                <div>
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="arrange">
                                <h4 class="title">Execlusive</h4>
                                <h5>Subscribe</h5>
                                <p>Get 10% off your first order</p>
                                <div class="send-input">
                                    <input type="text" name="" placeholder="Enter Your Email">
                                    <img src="assets/images/send.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="arrange">
                                <h5>support</h5>
                                <ul class="list-unstyled flex-column ">
                                    <li>
                                        <a>111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</a>
                                    </li>
                                    <li>
                                        <a>exclusive&#64;gmail.com</a>
                                    </li>
                                    <li>
                                        <a>+88015-88888-9999</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 ">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="arrange">
                            <h5>account</h5>
                            <ul class="list-unstyled flex-column ">
                                <li>
                                    <a>My account</a>
                                </li>
                                <li>
                                    <a>login / register</a>
                                </li>
                                <li>
                                    <a>cart</a>
                                </li>
                                <li>
                                    <a>wishlist</a>
                                </li>
                                <li>
                                    <a>shop</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="arrange">
                            <h5>quick link</h5>
                            <ul class="list-unstyled flex-column ">
                                <li>
                                    <a>Privacy Policy</a>
                                </li>
                                <li>
                                    <a>Terms Of Use</a>
                                </li>
                                <li>
                                    <a>FAQ</a>
                                </li>
                                <li>
                                    <a>Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 ">
                        <div class="arrange">
                            <h5>download app</h5>
                            <span >Save $3 with App New User Only</span>
                            <div class="d-flex gap-2">
                                <div>
                                    <img class="w-100" src="assets/images/qr.png" alt="">
                                </div>
                                <div class="d-flex flex-column  justify-content-between">
                                    <img class="w-100" src="./assets/images/googlePlay.png" alt="">
                                    <img class="w-100" src="./assets/images/appStore.png" alt="">
                                </div>
                            </div>
                        <div class="row d-none">
                                <div class="col-sm-5">
                                    <div>
                                        <img class="w-100" src="assets/images/qr.png" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="d-flex flex-column gap-1">
                                        <img class="w-100" src="./assets/images/googlePlay.png" alt="">
                                        <img class="w-100" src="./assets/images/appStore.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <ul class="list-unstyled mt-3 d-flex justify-content-between align-items-center">
                                <li>
                                    <a><i class="fa-brands fa-xl fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a><i class="fa-brands fa-xl fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a><i class="fa-brands fa-xl fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a><i class="fa-brands fa-xl fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="py-3 bg-black">
    <p class="m-0 text-center">&copy; Copyright Mohamed Khalel 2024. All right reserved</p>
</footer>