<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-white border-bottom py-3">
    <div class="container">
        <a routerLink="/home" class="navbar-brand">Exclusive</a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav gap-lg-5 row-gap-3 ms-auto mt-2 mt-lg-0 align-items-center">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/main" routerLinkActive="active">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contacts" routerLinkActive="active">contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/abouts" routerLinkActive="active">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">signup</a>
                </li>
            </ul>
            <div class="ms-auto d-flex justify-content-center align-items-center gap-4">
                <div class="position-relative search">
                    <input (input)="addTextSearch()" [(ngModel)]="searchWord" type="text" placeholder="what are you looking for?">
                    <i class="fa-solid fa-magnifying-glass position-absolute top-50 translate-middle"></i>
                </div>
            </div>
        </div>
    </div>
</nav>
