<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="row bg-black g-4 align-items-end">
            <div class="col-md-6">
                <div class="marka p-5">
                    <div class="d-flex align-items-center gap-4">
                        <img src="./assets/images/apple-logo.png"  alt="">
                        <h2 class="m-0">iPhone 14 series</h2>
                    </div>
                    <p>Up to 10% off Voucher</p>
                    <span class="d-flex align-items-center gap-2 cursor-pointer"><a class="text-decoration-none pb-1 text-white border-bottom border-2">Shop Now</a> <i class="fa-solid fa-arrow-right pb-1"></i></span>
                </div>
            </div>
            <div class="col-md-6">
                <div >
                    <img src="./assets/images/apple.png" class="w-100" alt="">
                </div>
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="row bg-black g-4 align-items-end">
            <div class="col-md-6">
                <div class="marka p-5">
                    <div class="d-flex align-items-center gap-4">
                        <img src="./assets/images/samsung.png"  alt="">
                        <h2 class="m-0">Samsung S series</h2>
                    </div>
                    <p>Up to 15% off Voucher</p>
                    <span class="d-flex align-items-center gap-2 cursor-pointer"><a class="text-decoration-none pb-1 text-white border-bottom border-2">Shop Now</a> <i class="fa-solid fa-arrow-right pb-1"></i></span>
                </div>
            </div>
            <div class="col-md-6">
                <div >
                    <img src="./assets/images/s244.png" class="w-100" alt="">
                </div>
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="row bg-black g-4 align-items-end">
            <div class="col-md-6">
                <div class="marka p-5">
                    <div class="d-flex align-items-center gap-4">
                        <img src="./assets/images/xiaomi.png"  alt="">
                        <h2 class="m-0">XIAOMI REDMI Series</h2>
                    </div>
                    <p>Up to 25% off Voucher</p>
                    <span class="d-flex align-items-center gap-2 cursor-pointer"><a class="text-decoration-none pb-1 text-white border-bottom border-2">Shop Now</a> <i class="fa-solid fa-arrow-right pb-1"></i></span>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <img src="./assets/images/mi.png" class="w-100" alt="">
                </div>
            </div>
        </div>
    </ng-template>  
</owl-carousel-o>