<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-white border-bottom py-3">
    <div class="container">
        <a routerLink="/home" class="navbar-brand">Exclusive</a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav gap-5 ms-auto mt-2 mt-lg-0 align-items-center">
                <li class="nav-item">
                    <a  class="nav-link" routerLink="/home" routerLinkActive="active">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">about</a>
                </li>
            </ul>
            <div class="ms-auto d-flex align-items-center justify-content-center gap-4 right-items">
                <div class=" d-flex justify-content-between align-items-center gap-4">
                    <div class="position-relative search">
                        <input (input)="addTextSearch()" [(ngModel)]="searchWord" type="text" placeholder="what are you looking for?">
                        <i class="fa-solid fa-magnifying-glass position-absolute top-50 translate-middle"></i>
                    </div>
                </div>
                <div class="data  w-100 justify-content-center gap-lg-4 gap-5">
                    <div class="position-relative">
                        <i routerLink="/wishlist" class="fa-regular fa-heart"></i>
                        <div class="count">
                            <span>{{wishNum}}</span>
                        </div>
                    </div>
                    <div class="position-relative">
                        <img routerLink="/cart"  src="./assets/images/cart.png" alt="cart">
                        <div class="count">
                            <span>{{cartNum}}</span>
                        </div>
                    </div>
                    <div  (click)="userClicked = !userClicked" [class.active-user]="userClicked" class="position-relative user">
                        <i  class="fa-regular fa-user"></i>
                        <div  *ngIf="userClicked" class="user-seetings position-absolute end-0">
                            <ul class="list-unstyled d-flex flex-column">
                                <li  class="d-flex align-items-center gap-4">
                                    <i class="fa-regular fa-user "></i>
                                    <a routerLink="/profile" class=" text-decoration-none ">Manage My Account</a>
                                </li>
                                <li  class="d-flex align-items-center gap-4">
                                    <i class="fa-solid fa-bag-shopping "></i>
                                    <a class=" text-decoration-none ">My Order</a>
                                </li>
                                <li  class="d-flex align-items-center gap-4">
                                    <i class="fa-regular fa-circle-xmark"></i>
                                    <a class=" text-decoration-none ">My Cancellations</a>
                                </li>
                                <li  class="d-flex align-items-center gap-4">
                                    <i class="fa-regular fa-star"></i>
                                    <a class=" text-decoration-none ">My Reviews</a>
                                </li>
                                <li (click)="logOut()" class="d-flex align-items-center gap-4">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    <a class=" text-decoration-none ">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
