<div class="container py-5">
    <div class="d-flex wish justify-content-between align-items-center">
        <h2>wishlist ({{products.length}})</h2>
        <button [disabled]="products.length <= 0" (click)="moveToCart()" type="button" class="third-btn">move all to bag</button>
    </div>
    <div class="row g-4 pb-5 ">
        <div class="col-md-3" *ngFor="let product of products" [routerLink]="['/details',product.id]">
            <div class="wish-card">
                <div class="head position-relative p-4">
                    <img [src]="product.image"  class="w-100" alt="">
                    <div (click)="stop($event)">
                        <button (click)="addToCart(product)" type="button" class="second-btn w-100"><i class="fa fa-xl fa-cart-plus"></i> add to cart</button>
                    </div>
                    <div class="cart-details">
                        <i (click)="removeItem(product.id,$event)" class="fa-solid fa-xl fa-trash-can"></i>
                    </div>
                </div>
                <div class="body">
                    <h3 class="text-capitalize">{{product.title.split(' ').slice(0, 3).join(' ')}}</h3>
                </div>
                <div class="footer d-flex align-items-center">
                    <span>${{product.price}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-5">
        <h2 class="title">just for you</h2>
        <button *ngIf="!showAll" (click)="showAll = true" class="third-btn" type="button">see all</button>
        <button *ngIf="showAll" (click)="showAll = false" class="third-btn" type="button">see less</button>
    </div>
<div [class.flex-nowrap]="!showAll" class="row g-4 overflow-hidden">
        <div *ngFor="let product of allProducts.slice(12,-1)" class="col-md-3" [routerLink]="['/details',product.id]">
            <div class="suggest-card position-relative">
                <div class="head position-relative p-4">
                    <img [src]="product.image"  class="w-100" alt="">
                    <div (click)="stop($event)">
                        <button (click)="addToCart(product)" type="button" class="second-btn w-100"><i class="fa fa-xl fa-cart-plus"></i> add to cart</button>
                    </div>
                    <div class="cart-details">
                        <i (click)="showModal(product.image,$event)" class="fa-regular fa-eye"></i>
                    </div>
                </div>
                <div class="body">
                    <h3 class="text-capitalize">{{product.title.split(' ').slice(0,3).join(' ')}}</h3>
                    <span>${{product.price}}</span>
                </div>
                <div class="footer d-flex align-items-center gap-2">
                    <div>
                        <i [class.rating-color]="product.rating.rate >= num" *ngFor="let num of [1,2,3,4,5]" class="fa fa-star pe-1 rating-color"></i>
                    </div>
                    <span>({{product.rating.count}})</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showModalVar" (click)="showModalVar = false" class="modal position-fixed d-flex justify-content-center align-items-center top-0 bottom-0 start-0 end-0">
    <div (click)="stop($event)" class="main-image m-auto">
        <img [src]="imageUrl" class="w-100" alt="">
    </div>
</div>