<app-auth-nav *ngIf="!checkAuthority"></app-auth-nav>
<app-blank-nav *ngIf="checkAuthority"></app-blank-nav>
<section class="container main  d-flex flex-column gap-5">
    <div class="directions">
        <span routerLink="/home" class="previous">home</span>
        <span class="current">404 error</span>
    </div>
    <div class=" d-flex justify-content-center align-items-center flex-column gap-5">
        <div class="text">
            <h1>404 Not Found</h1>
            <p class="m-0">Your visited page not found. You may go home page.</p>
        </div>
        <div>
            <button routerLink="/home" type="button" class="main-btn">Back to home page</button>
        </div>
    </div>
</section>
<app-footer></app-footer>